/*************** main************** */
*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(img.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
header{
    z-index: 999;
    position: fixed;
    width: 100%;
}

/***************** header********************* */

header .nav-bar{
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: 4em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    transition: 0.5s ease;
}

.nav-bar .logo{
    color: #fff;
	font-family: 'times new roman';
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
}

.navigation .nav-items a{

    color: #fff;
    font-size: 1em;
    text-decoration: none;
}
.navigation .nav-items a:hover{
    background-color:#fff;
	color: #000;
	border-radius:2px;
    
}


.navigation .nav-items a:not(:last-child){
    margin-right: 50px;
}

/* ajout */



.title{
	
	background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
	position:absolute;
	left:47%;
	transform: translate(-50%,-50%);
	border-radius:5px;
	width:360px;
	height:60px;
	color:#fff;
	
}


.title h4{
	
	/* color:#fff; */
	font-size:10px;
	text-align:center;

}

form {
     width: 1200px;
	 margin-left:10px;
	 margin-top:10px;
    
}


.input {
    display: flex;
    align-items: center;
  }
  
  
  .button {
    height: 44px;
    border: none;
  }
  
    
  #name {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
    font-family: inherit;
    color: #fff;
    letter-spacing: 1px;
    text-indent: 5%;}

    #lastname {
        width: 75%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        font-family: inherit;
        color: #fff;
        letter-spacing: 1px;
        text-indent: 5%;}

    
  #birthday {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
    font-family: inherit;
    color: #fff;
    letter-spacing: 1px;
    text-indent: 5%;}

    
  #birthplace {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
    font-family: inherit;
    color: #fff;
    letter-spacing: 1px;
    text-indent: 5%;}

    
  #school {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
    font-family: inherit;
    color: #fff;
    letter-spacing: 1px;
    text-indent: 5%;}

    
  #gyear {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
    font-family: inherit;
    color: #fff;
    letter-spacing: 1px;
    text-indent: 5%;}

    
  #id {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
    font-family: inherit;
    color: #fff;
    letter-spacing: 1px;
    text-indent: 5%;}

    
  #cert {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
    font-family: inherit;
    color: #fff;
    letter-spacing: 1px;
    text-indent: 5%;}

    
  #fac {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
    font-family: inherit;
    color: #fff;
    letter-spacing: 1px;
    text-indent: 5%;}

    
  #spec {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
    font-family: inherit;
    color: #fff;
    letter-spacing: 1px;
    text-indent: 5%;}
  
    #key {
      width: 75%;
      background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
      font-family: inherit;
      color: #fff;
      letter-spacing: 1px;
      text-indent: 5%;}

      #add {
        width: 75%;
        background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(20px);
        font-family: inherit;
        color: #fff;
        letter-spacing: 1px;
        text-indent: 5%;}
  
  #submit {
    width: 25%;
    height: 46px;
    background: #d45d7d;
    font-family: inherit;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    transition: background .3s ease-in-out;
  }
    
  
  
  input:focus {
    outline: none;
    outline: 2px solid #E86C8D;
    box-shadow: 0 0 2px #E86C8D;
  }
  
.check{
	width: 200px;
	height:40px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	margin-left: 530px;
	margin-top: 30px;
	padding-top:10px;
	text-align:center;
	align-items:center;
	border-radius:5px;
}
